node_modules
src/
tsconfig.json
webpack.config.js
venv
__mocks__/**
.github/**
.vscode/**
test/**
**/*.spec.js
.azure-pipelines/**
vsc-extension-quickstart.md

python_scripts/.env
__snippet.ipynb
python_scripts/__snippet.py

**/__pycache__/**
*.py[cod]
*$py.class
cython_debug/

out/*.js.map
out/test/**
**/test
**/*.map

.gitignore
.flake8